---
import Layout from "../../layouts/Layout.astro";
import { items, slugify } from "../../lib/data";
import { href } from "../../lib/url";

const sortedItems = [...items].sort((a, b) => a.name.localeCompare(b.name, "de"));
---

<Layout title="Items">
  <h1>Items ({items.length})</h1>
  <div class="card-grid">
    {sortedItems.map((i) => (
      <a class="card" href={href(`/items/${slugify(i.id)}/`)}>
        {i.icon && <img class="card-sprite" src={href(`/item-icons/${i.icon}`)} alt="" loading="lazy" width="48" height="48" />}
        <div class="card-name">{i.name}</div>
        <div class="meta-note">{i.price !== null ? `${i.price} ₽` : "nicht käuflich"}</div>
      </a>
    ))}
  </div>
</Layout>
